In [4]:
import pandas as pd
df=pd.read_csv("Produccion_Minera.csv")
df

,COBERTURA,ANIO,MES,ESTADO,MUNICIPIO,GRUPO_PRODUCTO,PRODUCTO,UNIDAD_MEDIDA,VOLUMEN,ESTATUS
0,Municipal,2001,Enero,Baja California,Agua Prieta,Metales Preciosos,Oro,Kilogramos,239.6,Cifras Definitivas.
1,Municipal,2001,Enero,Baja California,Agua Prieta,Metales Preciosos,Plata,Kilogramos,1642.0,Cifras Definitivas.
2,Municipal,2001,Enero,Baja California,Agua Prieta,Metales Industriales No Ferrosos,Plomo,Toneladas,0.0,Cifras Definitivas.
3,Municipal,2001,Enero,Baja California,Agua Prieta,Metales Industriales No Ferrosos,Cobre,Toneladas,0.0,Cifras Definitivas.
4,Municipal,2001,Enero,Coahuila de Zaragoza,Agua Prieta,Minerales No Metálicos,Fluorita,Toneladas,2430.0,Cifras Definitivas.
...,...,...,...,...,...,...,...,...,...,...
83203,Municipal,2023,Diciembre,Zacatecas,Villanueva,Metales Preciosos,Plata,Kilogramos,23.0,Cifras Preliminares.
83204,Municipal,2023,Diciembre,Zacatecas,Villanueva,Metales Industriales No Ferrosos,Plomo,Toneladas,1.0,Cifras Preliminares.
83205,Municipal,2023,Diciembre,Zacatecas,Villanueva,Metales Industriales No Ferrosos,Cobre,Toneladas,1.0,Cifras Preliminares.
83206,Municipal,2023,Diciembre,Zacatecas,Zacatecas,Metales Preciosos,Oro,Kilogramos,53.7,Cifras Preliminares.
83207,Municipal,2023,Diciembre,Zacatecas,Zacatecas,Metales Preciosos,Plata,Kilogramos,581.0,Cifras Preliminares.

In [5]:
df.shape

(83208, 10)

In [6]:
df.columns

Index(['COBERTURA', 'ANIO', 'MES', 'ESTADO', 'MUNICIPIO', 'GRUPO_PRODUCTO',
       'PRODUCTO', 'UNIDAD_MEDIDA', 'VOLUMEN', 'ESTATUS'],
      dtype='object')

In [13]:
df["GRUPO_PRODUCTO"].value_counts()

GRUPO_PRODUCTO
Metales Preciosos                   40644
Metales Industriales No Ferrosos    31440
Minerales No Metálicos               5856
Metales y Minerales Siderúrgicos     5268
Name: count, dtype: int64

In [15]:
df["ANIO"].value_counts()

ANIO
2013    4236
2001    4068
2012    4044
2008    3936
2009    3864
2007    3828
2011    3816
2010    3816
2014    3780
2016    3780
2005    3732
2006    3672
2004    3516
2015    3504
2018    3456
2017    3444
2002    3372
2019    3336
2003    3252
2020    3228
2022    3180
2023    3180
2021    3168
Name: count, dtype: int64

In [12]:
df["ESTADO"].value_counts()

ESTADO
Zacatecas                          13404
Durango                            13056
Chihuahua                          12972
Sonora                              7944
Sinaloa                             4344
Jalisco                             3576
San Luis Potosí                     3144
Coahuila de Zaragoza                3060
México                              2952
Michoacán de Ocampo                 2772
Guerrero                            2748
Hidalgo                             2292
Oaxaca                              2088
Querétaro                           1188
Guanajuato                          1140
Colima                              1020
Aguascalientes                       960
Nayarit                              900
Veracruz de Ignacio de la Llave      900
Nuevo León                           744
Tabasco                              552
Baja California                      468
Chiapas                              276
Tamaulipas                           276
Morelos                              168
Baja California Sur                  156
Puebla                               108
Name: count, dtype: int64

In [17]:
df["PRODUCTO"].value_counts()

PRODUCTO
Plata                   21264
Oro                     19380
Plomo                   11904
Cobre                   10896
Zinc                     8640
Fierro en Extraccion     3588
Azufre                   3096
Barita                   1728
Pellets de fierro        1104
Fluorita                 1032
Coque                     576
Name: count, dtype: int64

In [18]:
df["MUNICIPIO"].value_counts()

MUNICIPIO
Centro           4644
Morelos          4332
Cosalá           3780
Chalchihuites    3348
Agua Prieta      3156
                 ...
San Marcos         12
Tolimán            12
Santa Clara        12
Zinapécuaro        12
Tonila             12
Name: count, Length: 91, dtype: int64

In [16]:
df["COBERTURA"].unique()

array(['Municipal'], dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83208 entries, 0 to 83207
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   COBERTURA       83208 non-null  object
 1   ANIO            83208 non-null  int64
 2   MES             83208 non-null  object
 3   ESTADO          83208 non-null  object
 4   MUNICIPIO       83208 non-null  object
 5   GRUPO_PRODUCTO  83208 non-null  object
 6   PRODUCTO        83208 non-null  object
 7   UNIDAD_MEDIDA   83208 non-null  object
 8   VOLUMEN         83208 non-null  float64
 9   ESTATUS         83208 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 6.3+ MB

In [21]:
df.isnull().sum()

COBERTURA         0
ANIO              0
MES               0
ESTADO            0
MUNICIPIO         0
GRUPO_PRODUCTO    0
PRODUCTO          0
UNIDAD_MEDIDA     0
VOLUMEN           0
ESTATUS           0
dtype: int64

In [22]:
df.duplicated().sum()

np.int64(7)